/* Generics */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utilities */
.text-darkblue{
    color: #021732;
    font-weight: 500;
    margin: 10px 0;
    font-size: 18px;
}

.roboto-100{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.roboto-500{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.blue-tag{
    background-color: rgb(103, 178, 253);
}

.purple-tag{
    background-color: #9C72E4;
}

.green-tag{
    background-color: #64C0A9;
}

.orange-tag{
    background-color: #F29E33;
}

.pink-tag{
    background-color: #D863A1;
}

.lime-tag{
    background-color: #B0C926;
}

/* Header */
header{
    height: 80px;
    background-color: #fff;
}

#logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 2px;
    vertical-align: middle;
}

h1{
    font-weight: 900;
    font-size: 50px;
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
}

/* main */
body{
    background-color: #F6F8F9;
}

.head-container{
    background-color: #fff;
    width: 50%;
    height: 60px;
    margin: 30px auto 5px auto;
    border-radius: 10px 10px 0 0;
}

.container{
    background-color: #fff;
    width: 50%;
    height: 500px;
    margin: 0 auto 70px auto;
    border-radius: 0 0 10px 10px;
    padding: 30px 30px;
}

.add-task{
    margin: 15px 0 0 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    width: 100px;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
}

.add-section{
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(112, 112, 112);
    color: rgb(112, 112, 112);
    padding: 5px 15px;
    border-radius: 5px;
}


/* Container */

ul{
    margin-top: 15px;
    list-style: none;
    margin-left: 0;
    padding-left: 2px;
}

ul .done:before {
    content: '\1F7E2' ;
}

ul .undone:before {
    content: '\1F534';
}

li {
    margin-bottom: 15px;
}

.tag{
    font-size: 12px;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 60px;
    color: white;
    border-radius: 10px;
    padding: 3px 5px;
}

.task{
    padding: 10px 0;
}